@CHASET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a{
    text-decoration:none;
    color:#24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#user_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#company_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}



pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 10%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 15%;
}

table#report_list .report_title {
    width: 23%;
}

table#report_list .report_action {
    width: 14%;
}

table#report_list .favorite{
    width:17%;
}
table#report_list .favorited_count{
    width:11%;
}

table#favorite_report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#favorite_report_list .report_name {
    width: 10%;
    padding: 10px 2%;
}
table#favorite_report_list .report_date {
    width: 15%;
}

table#favorite_report_list .report_title {
    width: 40%;
}

table#favorite_report_list .report_action {
    width: 30%;
}

button.follow{
    background-color:#FFB6C1;
    font-weight:bold;
    color:#fff;
}

button.antifollow{
    background-color:#6495ED;
    font-weight:bold;
    color:#fff;
}

img{
    height:400px;
    width:280px;
}

.profile_image{
    text-align:center;
}
.login_create{
    text-align:center;
}


.achieve_image{
    float:left;
    width:30%;
    padding-left:3px;
}

.comment_list{
    float:left;
    width:50%;
}